# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
venv/
backend/venv/
**/venv/

# Environment variables
.env
.env.*
.env.local

# OS
.DS_Store
Thumbs.db

# AI / ML models & large binaries
*.h5
*.pt
*.onnx
*.tflite
*.pb
*.ckpt

# TensorFlow / MediaPipe caches
**/tensorflow/**
**/mediapipe/**

# Git internals (extra safety)
.git/objects/
.git/refs/original/

# Logs
*.log

# Build outputs
dist/
build/

# OSa
.DS_Store